body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.brand-logo{
  font-size: 100px;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars{
  font-size: 25px;
}

footer{
  margin-top: 20px;
}

.story-text{
   height: 120px;
}

.dash-status{
  text-transform: capitalize;;
}

#delete-form{
  display: inline;
}

img{
    width: 100%;
    height: auto;
}

iframe{
  width: 100%;
  height: 100%;
}
