
<div class="container">
  <div class="center">
    <h1>About</h1>
    <h5>Tell Your Jiu Jitsu Story</h5>
    <p>Jiu Jitsu Adventures is a web app to share stories about your Jiu Jitsu adventures with the world.</p>
    <br>
    <p>Jiu Jitsu Adventures Version 1.0.0</p>
    <p>Created by <a href="https://www.hacktorcreations.com/"><i class="material-icons">desktop_mac</i> Hactor Creations</a> </p>
  </div>
</div>
